@import "variables";
@import "functions";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: $base-line-height;
  font-size: $base-font-size;
  background: $dark;
  color: $gray;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: rem(60px);
  line-height: rem(90px);
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: rem(38px);
  line-height: rem(57px);
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}


.desktop-container {
  max-width: $desktop-container-width;
  margin: 0 auto;
}
