//FONTS
$base-font-size: 18px;
$base-line-height: 1.5;

// COLORS:
$dark: #08020D;
$light-dark: #3C3B3D;
$green: #34C176;
$gray: #CACACA;
$light-gray: #E0E0E0;
$orange: #F89202;
$violet: #5328A1;
$brown: #95390C;
